body {
    text-align: center;
    background: grey;
    color: white;
}

.navigation {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.navigation > li {
    display: inline-block;
    margin: 0 6px;
}

.navigation > li > a {
    color: #B2EBF2;
}

.second-pig__form-label {
    display: block;
    margin: 6px auto;
    padding: none;
}

.second-pig__form-textfield {
    display: inline-block;
    margin: 4px auto;
    padding: none;
    width: 140px;
}

.second-pig__form-submit {
    display: inline-block;
    margin: 4px auto;
    padding: none;
    width: 80px;
}
