{% extends "layout.html" %}

{% block content %}
  <h3>The second pig is a polite pig.</h3>

  <form action = "http://localhost:5000/second" method ="POST">
        <div>
           {{ form.name.label(class_='second-pig__form-label') }}
           {{ form.name(class_='second-pig__form-textfield') }}
           {{ form.submit(class_='second-pig__form-submit') }}
        </div>
  </form>
  <p>
    {% for message in form.name.errors %}
       <div>{{ message }}</div>
    {% endfor %}
  </p>

  <h2>
    {% if not form.name.data %}
    &nbsp;
    {% else %}
    Hello {{ form.name.data }}, have a nice day.
    {% endif %}
  </h2>

{% endblock %}
